.post-author a{ 
    text-transform: uppercase;
}


//Like-comment animation
.newspaper-post-like .post-like:hover,
.newspaper-post-like .post-comment:hover {
    color: red;
    box-shadow: 1px 1px 5px 5px red;
}