.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 80px;
}

.modal.open {
    display: flex;
}

.modal__container {
    min-height: 200px;
    width: 900px;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    background-color: #fff;
    animation: fadeInModal ease 0.5s;
}